*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,black,#1d1a1a);
}
.container img{
     width: 300px;
     height:300px;
     border-radius: 50%;
     box-shadow:0px 15px 10px #ffffffe5,-8px 0px #dfd5d5d5;
     filter: hue-rotate(100deg);
     cursor: pointer;
}
.container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 10vh;
    gap: 40px;
    padding: 40px 0px;
    }
    img:hover{
       filter:brightness(110%);
       zoom: 80%; 
    }