.para1{
   border: 2px solid;
   width: calc(100% + 300px); 
}
.para2{
    border:2px solid gray;
    width:max(70%,900px);
}
.para3{
    border:4px solid;
    width:min(2rem,100px);
}
.para4{
    border: 2px solid;
    width:clamp(100px,6vh,80%);
}